USE [master]
GO
/****** Object:  Database [Overlook]    Script Date: 20/11/2016 12:41:33 ******/
CREATE DATABASE [Overlook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Overlook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Overlook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Overlook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Overlook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Overlook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Overlook]
GO
USE [Overlook]
GO
/****** Object:  Table [dbo].[Estrategia]    Script Date: 20/11/2016 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estrategia](
	[ID_Estrategia] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Estrategia] PRIMARY KEY CLUSTERED 
(
	[ID_Estrategia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EstrategiaHeroe]    Script Date: 20/11/2016 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstrategiaHeroe](
	[ID_Estrategia] [int] NOT NULL,
	[ID_Heroe] [int] NOT NULL,
 CONSTRAINT [PK_EstrategiaHeroe] PRIMARY KEY CLUSTERED 
(
	[ID_Estrategia] ASC,
	[ID_Heroe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EstrategiaMapa]    Script Date: 20/11/2016 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstrategiaMapa](
	[ID_Estrategia] [int] NOT NULL,
	[ID_Mapa] [int] NOT NULL,
 CONSTRAINT [PK_EstrategiaMapa] PRIMARY KEY CLUSTERED 
(
	[ID_Estrategia] ASC,
	[ID_Mapa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Habilidad]    Script Date: 20/11/2016 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilidad](
	[ID_Habilidad] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Habilidad] PRIMARY KEY CLUSTERED 
(
	[ID_Habilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HabilidadHeroe]    Script Date: 20/11/2016 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabilidadHeroe](
	[ID_Habilidad] [int] NOT NULL,
	[ID_Heroe] [int] NOT NULL,
 CONSTRAINT [PK_HabilidadHeroe] PRIMARY KEY CLUSTERED 
(
	[ID_Habilidad] ASC,
	[ID_Heroe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Heroe]    Script Date: 20/11/2016 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heroe](
	[ID_Heroe] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Rol] [nvarchar](50) NULL,
	[Imagen] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[ID_MapasPro] [nchar](2) NULL,
	[ID_HabilidadHeroe] [nchar](2) NULL,
	[ID_EstrategiaHeroe] [nchar](2) NULL,
	[Video] [nvarchar](50) NULL,
 CONSTRAINT [PK_Heroes] PRIMARY KEY CLUSTERED 
(
	[ID_Heroe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mapa]    Script Date: 20/11/2016 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mapa](
	[ID_Mapa] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Tipo] [nvarchar](50) NULL,
	[Imagen] [nvarchar](max) NULL,
 CONSTRAINT [PK_Mapa] PRIMARY KEY CLUSTERED 
(
	[ID_Mapa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Noticia]    Script Date: 20/11/2016 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticia](
	[ID_Noticia] [int] NOT NULL,
	[Titulo] [nvarchar](300) NOT NULL,
	[Sinopsis] [nvarchar](500) NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Fecha] [datetime] NOT NULL,
	[Autor] [nvarchar](50) NULL,
	[Fuente] [nvarchar](max) NULL,
 CONSTRAINT [PK_Noticia] PRIMARY KEY CLUSTERED 
(
	[ID_Noticia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Estrategia] ([ID_Estrategia], [Descripcion]) VALUES (1, N'"La bola de la muerte" - Necesitarán un Roadhog, un Reindhardt y cualquier DPS que haga daño tipo burst. Consiste en mantenerse juntos y con el escudo activaado en todo momento. Cuidado con Pharahs y Lucios')
INSERT [dbo].[Estrategia] ([ID_Estrategia], [Descripcion]) VALUES (2, N'"Healer vs Tank" - En este mapa, Lucio es muy útil, no solo por sus habilidades de apoyo, sino también porque existen muchos "pozos de la muerte" donde puede empujar objetivos clave.')
INSERT [dbo].[Estrategia] ([ID_Estrategia], [Descripcion]) VALUES (3, N'"TEST" - Bastion + Reindhardt! Este combo puede funcionar en muchos más mapas, pero cuidado, porque te van a focusear rápidamente.')
INSERT [dbo].[EstrategiaHeroe] ([ID_Estrategia], [ID_Heroe]) VALUES (1, 2)
INSERT [dbo].[EstrategiaHeroe] ([ID_Estrategia], [ID_Heroe]) VALUES (1, 3)
INSERT [dbo].[EstrategiaHeroe] ([ID_Estrategia], [ID_Heroe]) VALUES (1, 4)
INSERT [dbo].[EstrategiaMapa] ([ID_Estrategia], [ID_Mapa]) VALUES (1, 7)
INSERT [dbo].[EstrategiaMapa] ([ID_Estrategia], [ID_Mapa]) VALUES (1, 8)
INSERT [dbo].[EstrategiaMapa] ([ID_Estrategia], [ID_Mapa]) VALUES (1, 9)
INSERT [dbo].[Habilidad] ([ID_Habilidad], [Nombre], [Descripcion]) VALUES (1, N'Shuriken', N'Genji lanza tres estrellas letales de forma consecutiva. También puede lanzar tres shuriken formando un arco.')
INSERT [dbo].[Habilidad] ([ID_Habilidad], [Nombre], [Descripcion]) VALUES (2, N'Desvío', N'
Genji refleja proyectiles gracias a rapidísimos movimientos con su espada, y los hace rebotar hacia el oponente.')
INSERT [dbo].[Habilidad] ([ID_Habilidad], [Nombre], [Descripcion]) VALUES (3, N'Corte veloz', N'Genji esprinta hacia delante rebanando con su katana y atravesando a los enemigos en su camino. Si Genji elimina a un objetivo, puede volver a usar esta habilidad de inmediato.')
GO
INSERT [dbo].[Heroe] ([ID_Heroe], [Nombre], [Rol], [Imagen], [Descripcion], [ID_MapasPro], [ID_HabilidadHeroe], [ID_EstrategiaHeroe], [Video]) VALUES (1, N'Genji', N'Ataque', N'\Assets\Imagenes\Genji.png', N'Genji lanza precisos y letales shuriken a sus objetivos y usa su moderna katana para desviar proyectiles o infligir cortes veloces que hacen sangrar a los enemigos.', NULL, NULL, NULL, N'\Assets\idle-video-Genji.mp4')
INSERT [dbo].[Heroe] ([ID_Heroe], [Nombre], [Rol], [Imagen], [Descripcion], [ID_MapasPro], [ID_HabilidadHeroe], [ID_EstrategiaHeroe], [Video]) VALUES (2, N'Mccree', N'Ataque', N'\Assets\Imagenes\Mccree.png', N'Armado con su Pacificador, McCree da cuenta de los objetivos con una precisión letal, para después huir del peligro a una velocidad vertiginosa.', NULL, NULL, NULL, N'\Assets\idle-video-Mccree.mp4')
INSERT [dbo].[Heroe] ([ID_Heroe], [Nombre], [Rol], [Imagen], [Descripcion], [ID_MapasPro], [ID_HabilidadHeroe], [ID_EstrategiaHeroe], [Video]) VALUES (3, N'Pharah', N'Ataque', N'\Assets\Imagenes\Pharah.png', N'Surcando los cielos en su armadura de combate y armada con un lanzacohetes que dispara misiles altamente explosivos y de conmoción, Pharah es decisiva en el campo de batalla.', NULL, NULL, NULL, N'\Assets\idle-video-Pharah.mp4')
USE [master]
GO
