#T {
    margin-left:74px;
    font-size:50px;
    text-align:center;
    margin-bottom:10px;
    margin-top:0;
    padding-top:15px;
}
.main {
    width:90%;
	max-width:1000px;
	margin:20px auto;
}
 
.slides {
	width:100%;
}
#cont{
    margin:0;
    width:100%;
    height:100%;
}
#cont img{
	width:100%;
    height:100%;
    padding-right:15px;
    float:left;
}
#l h1{
    text-align:center;
    font-size:45px;
}
#l h3{
    text-align:justify;
    font-size:23px;
    margin-right:10px;
    margin-top:10px;
}
#l p{
    font-size:28px;
    margin-right:10px;
}
#l{
    background: -moz-linear-gradient(top, rgba(181,189,200,0) 0%, rgba(130,140,149,0) 36%, rgba(122,132,141,0) 42%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(181,189,200,0) 0%,rgba(130,140,149,0) 36%,rgba(122,132,141,0) 42%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(181,189,200,0) 0%,rgba(130,140,149,0) 36%,rgba(122,132,141,0) 42%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
    padding:3em;
    height:15%;
    width:48%;
    position:fixed;
    color: #f2fafb;
    text-decoration:none;
    text-shadow: 2px 0 0 #000,-2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
#T2{
    text-align:center;
    margin:30px, auto;
    font-size:50px;

}
 
.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
    margin:0;
}
.slidesjs-pagination ul{
     margin:0;
     display:block;
 }
.slidesjs-pagination li {
	float:left;
    margin:0;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:15px 20px;
	color:#fff;
	text-decoration:none;
}
 
.slidesjs-pagination li a:hover {
	background:#FCBD49;
}
 
.slides .active {
	background:#FCBD49;
}
 
.slidesjs-navigation{
	background:#FCBD49;
	color:#000000;
	text-decoration:none;
	display:inline-block;
	padding:15px 20px;
	float:right;
}